$a: black;
$b: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ctn {
  height: 100vh;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 2fr 1fr;

  @media screen and (min-width: 960px) {
    grid-template-columns: 4fr 4fr 2fr 2fr 1fr 1fr;
    grid-template-rows: none;
  }
}

.block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 50%;
  overflow: hidden;

}

.x {
  background-color: #404040;
  mix-blend-mode: darken;
}